{% extends 'base.html' %}

{% block page %}
  <h1 style="margin-bottom: 30px">My Buyings</h1>
  <div class="panel panel-default">
    <table class="table table-bordered table-striped">
      <thead class="bg-success">
        <tr>
          <th></th>
          <th>Gig Title</th>
          <th>Author</th>
          <th>Price ($)</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href=""></a></td>
            <td><a href=""></a></td>
            <td></td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
