{% extends 'base.html' %}

{% block page %}
  <h1 style="margin-bottom: 30px">My Gigs</h1>
  <div class="panel panel-default">
    <table class="table table-bordered table-striped">
      <thead class="bg-success">
        <tr>
          <th>
            <th>Gig Title</th>
            <th>Price ($)</th>
            <th>Status</th>
          </th>
        </tr>
      </thead>
      <tbod>
        {% for gig in gigs %}
          <tr>
            <td></td>
            <td><a href="</a></td>
            <td></td>
            <td> Disabled</td>
          </tr>
        {% endfor %}
      </tbod>
    </table>
  </div>
{% endblock %}
